page-home {
  #map{
    height: 100%;
  }

  .button-refresh{
    top: 75px;
    left: 8px;
  }

  .button-relocate{
    top: 110px;
    left: 8px;
  }
  #popup{
    padding: 5px;
    border-radius: 5px;
    border: .5px black solid;
    background-color: white;


    .ol-popup-closer{
      color: red;
    }

  }
}
