page-detail {
  .station-navbar{
    text-align: center;
    font-weight:bold;
    font-size: larger;
    color: #ffffff;

    ion-item{
      background-color: inherit;
      border: none inherit;
      color: #ffffff;
      ion-thumbnail{
        img{
          padding-top: 20px;
        }
      }
    }

    #header > .item-inner{
      border-bottom: none;
    }
  }

  .row {
    .value {
      float: right;
      position: relative;
    }
  }


  .extras-grid {
    ion-col {
      p {
        font-size: larger;
      }
      ion-icon{
        font-size: larger;
      }
    }

  }
  .icon-valid{
    color: #21b94e;
  }

  .icon-invalid{
    color: #8f8f8f;
  }

  .last-update{
    text-align: center;
    font-size: larger;

  }

  .address-second{
    color: #8f8f8f;
    padding-left: 17px;
  }
}
