page-analytics {
  #chartlist {
    display: flex;
    flex-wrap: wrap;
    ion-item {
      @media all and (min-width: 700px) {
        max-width: 50% !important;
        border: none;
      }
    }
  }
}
