page-analytics {
  #chartlist {
    display: flex;
    flex-wrap: wrap;
    ion-item {
      @media all and (orientation: landscape) {
        max-width: 50% !important;
        border: none;
      }
    }
  }
}
